
{% extends "base.jinja" %}
{% block header %}Wydarzenie "{{event_name}}" zostało zmodyfikowane{% endblock %}
{% block content %}
{% endblock %}
{% block url %}http://uwu.jakdak.online:5432/events/edit/{{event_id}}{% endblock %}